<% if @question.errors.present? %>
	<ul>
		<% @question.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
	<% end %>

<%= form_for @question do |f| %>
<table class='textcolor' >
	<tr>
		<td>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'titlesize'%>
		</td>
	</tr>

	<tr>
		<td><%= f.label :message %>
			<%= f.cktext_area :message, class: 'messagesize' %>
		</td>
	</tr>
	<!-- <tr>
		<td>
			<%= f.label :tag_list %>
			<%= f.text_field :tag_list, class: 'tagsize' %>
			<p class='insert'>Masukan kategori. Contoh: gaya hidup, 
				life style</p>
		</td>
	</tr> -->
	<tr>
		<td>
			<%= f.select(:tag_list, [['Type A', 'Type A'],
        ['Type B', 'Type B'],['Type C', 'Type C'],
        ['Type D', 'Type D'],['Type E', 'Type E']],
        { :prompt => "Please select"},
        { :multiple => true, :size => 5, class: 'selectpicker' }) %>
			<!-- <select name='question[tag_list]' class="selectpicker tagsize" multiple>
				<optgroup label='Programmer'>
					<option>PHP</option>
		      <option>JAVA</option>
		      <option>Phyton</option>
				</optgroup>
	  	</select> -->
		</td>
	</tr>
	<tr>
		<td><%= f.submit style: 'margin-left:10px; float:left;' %> </td>
	</tr>

</table>
<% end %>