<% if @question.errors.present? %>
	<ul>
		<% @question.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
	<% end %>

<%= form_for @question do |f| %>
<table class='textcolor' >
	<tr>
		<td>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'titlesize'%>
		</td>
	</tr>

	<tr>
		<td><%= f.label :message %>
			<%= f.cktext_area :message, class: 'messagesize' %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :tag_list %>
			<%= f.text_field :tag_list, class: 'tagsize' %>
			<p class='insert'>Masukan kategori. Contoh: gaya hidup, 
				life style</p>
		</td>
	</tr>
	<tr>
		<td>
			<select name='question[tag_list]' class="selectpicker tagsize" multiple>
				<optgroup label='Programmer'>
					<option>PHP</option>
		      <option>JAVA</option>
		      <option>Phyton</option>
				</optgroup>
	      
	  	</select>
		</td>
	</tr>
	<tr>
		<td><%= f.submit style: 'margin-left:10px; float:left;' %> </td>
	</tr>

</table>
<% end %>