
<div class='row-fluid'>
	<div class='span-8'>
		<%= render 'layouts/locations' %>

		<div class='topcategories'>
			<center>
				<div id='satu'>
					Hot Question Categories
				</div>
			</center>
			<br>
			<center>
				<div id='dua'>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
				</div>
			</center>
		</div><br>
		<h1 id='judul'>Top Question</h1>
		<!-- <ul id='navbar' class="nav nav-tabs">
  		<li class="active">
   			<a href="#">Interest</a></li>
 		 	<li><a href="#">Hot</a></li>
 			<li><a href="#">Week</a></li>
 		 	<li><a href="#">Month</a></li>
		</ul> -->
		<div style='clear:both'></div>
		<div class='topquestions'>
			<% @questions.each do |question| %>
			<div class='toples'>
				
				<div>
					<%= link_to question.title, question_path(question) %>
					<div style='margin-left: 0px;'>
						<% if user_signed_in? && current_user.is_admin? || current_user.super_admin? %>
							<%= link_to question_path(question), method: :delete do %>
							<i  class='icon-remove'></i>
							<% end -%>
						<% end -%>
					</div>
				</div><br>

				<div id='dua'>
					<p style='float:left; margin-right:70px;'>
						<%= link_to question.user.name, user_path(question.user) %>
					</p>
					<i class='icon-tags'></i>
					<% question.tags.each do |tag| %>
					
						<%= link_to tag.name, tag_path(tag), class: :category1 %>
					<% end %>
					
					<%= link_to "Answer #{question.comments.count}", 
					question_path(question), id: :category, class: :kanan %>

					<%= link_to "View #{question.total_view.to_i} times", 
					question_path(question), id: :category, class: :kanan %>
				</div>
				</div><br>
			<% end %>
		</div>
		<div style='color: white; font-size:20px; float: right; margin-right: 250px;'>
			<p>Total <%= @questions.count %> Questions	</p>

		</div>
		
		<div class='sampingkanan'>
			<div class=''>
				<ol>
					<% @recent_questions.each do |recent|%>
						<li>
							<%= link_to recent.title, question_path(recent) %>
						</li>
					<% end -%>	
				</ol>
			
					
				
			</div>
		</div>	
	</div>
</div><hr>
