
<div class='row-fluid'>
	<div class='span-8'>
		<div id='banner'>
			<center>Announcement</center>
		</div>
		<div class='bendera'>
			<%=image_tag '/assets/bendera.jpg' %>
		</div>
		<div class='colomcolom'>
			<div>		
				<ul class="nav nav-pills">
	  			<li >
	    			<a href="#">Questions</a>
	 		 	 </li>
	 		 	 <li class="active">
	 		  		<a href="#">Users</a>
	 			  </li>
	  			<li>
	  				<a href="#">Tags</a>
	  			</li>
				</ul>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='topcategories'>
			<center>
				<div id='satu'>
					Hot Question Categories
				</div>
			</center>
			<br>
			<center>
				<div id='dua'>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
				</div>
			</center>
		</div><br>
		<h1 id='judul'>Top Question</h1>
		<ul id='navbar' class="nav nav-tabs">
  		<li class="active">
   			<a href="#">Interest</a></li>
 		 	<li><a href="#">Hot</a></li>
 			<li><a href="#">Week</a></li>
 		 	<li><a href="#">Month</a></li>
		</ul>
		<div style='clear:both'></div>
		<div class='topquestions'>
			<% @questions.each do |question| %>
				<div>
					<%= link_to question.title, question_path(question) %>
				</div><br>

				<div id='dua'>
					<p style='float:left; margin-right:70px;'><%= link_to question.user.name, user_path(question.user) %></p>
					<% question.tags.each do |tag| %>
						<%= link_to tag.name, tag_path(tag), style: '', class: :category1 %>
					<% end %>

					<%= link_to "Answer #{question.comments.count}", 
					question_path(question), id: :category, class: :kanan %>

					<%= link_to "View #{question.total_view.to_i} times", 
					question_path(question), id: :category, class: :kanan %>
				</div><br>
			<% end %>
		</div>
		<div class='sampingkanan'>
			<div class=''>Nulla volutpat aliquam velit</div>
		</div>
	</div>
</div>