<div style='padding:20px;'>
	<br>
	<div >
		<%= image_tag @question.user.image_url, style: 'height:70px; width: 70px; float:left; margin-right: 25px;' %> <!-- mengambil gambar dari pertanyaan user -->
	</div>
		<h1 class='qtitle'>
		<%= @question.title %>
		</h1>
		<div style='clear:both;'></div>
		<p style='color:grey;'><%= @question.user.name %></p>
	<br>
<div class='quest1'>
	<p>
		<%= @question.message.to_s.html_safe %>
	</p>
</div>
	<br>
<div style='margin:10px;'>
	<p>Tags</p>
	<ul>
		<% @question.tags.each do |tag| %>
		<li>
			<%= link_to tag.name, tag_path(tag) %>
		</li>
		<% end %>
	</ul>
</div>
<br>
<div style='float:right; margin-right:170px;'>
	<h4>Related Question</h4>
		<% @question.tags.each do |tag| %>
			<ul>
				<% tag.taggings.random(5).each do |t| %>
					<% if t.taggable != @question %>
						<li>
							<%= link_to t.taggable.title, question_path(t.taggable) %>
								</li>
				  <% end %>
				<% end %>		
			</ul>
		<% end %>
</div>
	
		<div style='clear:both'></div>
	<%	 if user_signed_in? && @question.user == current_user %>
		<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-primary' %>
	<% end %>
	<%= link_to 'Back', questions_path, class: 'btn btn-primary' %>

	<div id='comment'>
		<% if !@question.comments.any? %>
			<h4>There is no comment, be the first to submit</h4>
		<% else %>
			<h4><% pluralize(@question.comments.count, 'Comment') %></h4>
		<% end %>

		<ul class='comments'>
			<% @question.comments.each_with_index do |comment, i| %>
				<li><br>
					<div id='comenter'>
						<tr>
							<td>
							<%= link_to user_path(@question.user) do %>
								<%= image_tag comment.user.image_url, style: 'height: 50px; width: 50px; margin-right: 10px;' %>
							<% end -%>

							</td>
							<td><%= comment.user.name %></td>
							<td>|</td>
							<td><%= comment.created_at %></td>
						</tr>
					</div>
					

					<!-- tampilkan comment, tapi filter dulu berdasarkan field removed -->
				  <!-- jika removed, maka di anggap junk comment -->

					<% if comment.removed? %>
					    <p>this comment is removed by admin</p>
					<% else %>
					    <p><%= comment.message %></p>
					<% end -%>
					  
					  <!-- jika ada user yang login, dan yang login adalah admin atau super_admin -->
					  <!-- maka tampilkan button delete comment -->

					<% if user_signed_in? && current_user.is_admin? %>
					  <%= link_to 'Remove Comment', comment_path(comment), method: :delete %>
					<% end %>



					<% if comment.user != current_user %>
						<%= link_to "#reputation_#{i}", class: 'btn btn-success', data: { toggle: :modal } do %>
							<%= comment.user.reputations.count %>
					    <i class='icon-heart'></i>
					  <% end %>
					  &nbsp;
					  <%= link_to votes_path(comment_id: comment.id), class: 'btn btn-info', method: :post do %>
					  	<%= comment.votes.where(vote_status: 'LIKE').count %>
					    <i class='icon-thumbs-up'></i>
					  <% end %>

					  &nbsp;
					  <%= link_to vote_path(comment_id: comment.id), class: 'btn btn-danger', method: :delete do %>
					    <%= comment.votes.where(vote_status: 'DISLIKE').count %>
					    <i class='icon-thumbs-down'></i>
					  <% end %>

				  <% end %>

				  <div id='reputation_<%= i %>' class= "modal hide fade modalbox" tabindex= "-1" role= "dialog" >
				  	<%= form_for comment.user.reputations.new(user: comment.user), remote: true, fromat: :js do |f| %>
				  		<%= f.hidden_field :user_id%>
				  		<div style='margin: 10px;'>
				  			<h4>Reputations From</h4>
				  			<table>
				  				<tr>
				  					<td><%= f.text_area :message, style: 'width: 520px; height: 150px;' %></td>
				  				</tr>
				  				<tr>
				  					<td><%= f.submit 'Fabulous', class: 'btn btn-primary'%></td>
				  				</tr>
				  			</table>
				  		</div>
				  	<% end %>
				  </div>
				</li>
				<% end %>
		</ul>
		<% if user_signed_in? %>
			<%= form_for current_user.comments.build(commentable: @question) do |f| %>
				<%= f.hidden_field :commentable_id %>
				<%= f.hidden_field :commentable_type %>
				<div class='field'>
					<hr style='width:50%;'>
					<%= f.label :message %><br>
					<%= f.text_area :message, style: 'height: 300px; width: 500px;' %>
				</div>
				<%= f.submit 'Submit Comment', class: 'btn btn-primary' %>
			<% end %>
		<% else %>
			<h4 style='margin: 10px 0px 10px 0px;'>Please <%= link_to 'Login', new_user_session_path%> For Submit Comment</h4>
		<% end %>
	</div>
