<h2 class='title'>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class='divbox'>
  <div>
    <%= f.text_field :first_name, placeholder: 'First Name' %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: 'Last Name'%>
  </div>
  <div>
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
  </div>
  <div>
    <%= f.submit "Sign up" %>
  </div>

  
  <div id='color' style='margin-top: 10px;'> 
  <div><%= f.label :My_Avatar %>
    <%= image_tag resource.image_url, style: 'height:70px; width: 70px; float:left; margin-right: 10px;' %> <!-- mengambil gambar dari resource user -->
  </div>
      <%= f.file_field :image %><br>
      <span>Gender</span><br>
      <%= f.radio_button :gender_id, Gender.male.id %> Male 
      <%= f.radio_button :gender_id, Gender.female.id %> Female
  </div>
  <div style='clear:both;'></div>
</div>
<% end %>


<%= render "devise/shared/links2" %>
