<%= render 'layouts/menu' %>

<div class='row-fluid'>
	<div class='span-8'>
		<%= render 'layouts/locations' %>
		<br><br><br><br>
	</div>
		<h1 id='judul'>Users</h1>
		<ul id='navbar' class="nav nav-tabs">
  		<li class="active">
   			<a href="#">Interest</a></li>
 		 	<li><a href="#">Hot</a></li>
 			<li><a href="#">Week</a></li>
 		 	<li><a href="#">Month</a></li>
		</ul>
		<div style='clear:both'></div>
		<ul class='ranking'>
			<% @users.each do |user| %>
				<% if user.id == 1 %>
					<li>
						<div>
							<div class='besar'>
								<div class='size'>
									<%= image_tag user.image_url, class: 'img-circle' %>
								</div>
								<div class='ratafoto'>
									<div class='text'><%= user.name %></div><br>
									<div class='text'>reputation</div><br>
									<div class='text'>tags</div>
									<%= link_to 'Edit', edit_user_registration_path if user_signed_in? && current_user == user %>
								</div>
							</div>
						</div>
					</li>
				<% else %>
					<li>
						<div>
							<div>
								<div class='size2'>
									<%= image_tag user.image_url, class: 'img-circle' %>
								</div>
								<div class='ratafoto2'>
									<div class='text2'><%= user.name %></div><br>
									<div class='text2'>reputation</div>
									<div class='text2'>tags</div>
									<%= link_to 'Edit', edit_user_registration_path if user_signed_in? && current_user == user %>
								</div>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
</div>
<hr>