<%= render 'layouts/menu' %>

<div class='row-fluid'>
	<div class='span-8'>
		<%= render 'layouts/locations' %>
		
		<%= image_tag @user.image_url, class: 'image' %>

		<table>
			<!-- <tr>
				<td>Username</td>
				<td>: &nbsp; </td>
				<td><%= @user.username %></td>
			</tr> -->
			<tr>
				<td>Name</td>
				<td>: &nbsp; </td>
				<td><%= @user.name %></td>
			</tr>
			<tr>
				<td>Email</td>
				<td>: &nbsp; </td>
				<td><%= @user.email %></td>
			</tr>
		</table>
		<%= "View #{@user.total_view.to_i} times" %>

		<div>
			<%= link_to 'Edit Profile', edit_user_registration_path if user_signed_in? && current_user == @user %>
		</div>
	</div>
</div>
