<h2 style='margin-left:25px;'>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div >
	  <div class='signin', style='margin:10px;'>
	  	<div>
   		 <%= f.email_field :email, placeholder: 'Email' %>
   		 <%= f.password_field :password, placeholder: 'Password' %>
 		  </div>
	  		<div style='clear:both'></div>
	  	<div class='kanan'>
	  		<%= f.submit "Sign in" %>
	  	</div>
			 <div class='margintb'>
				<% if devise_mapping.rememberable? -%>
  			<%= f.check_box :remember_me %>
    	</div>
    	<div>
    		<%= f.label :remember_me %>
 			</div>
   	 	<p  style='margin-top:10;'>
    		<a href="/" >Daftar Baru</a> atau Masuk Menggunakan
    	</p>
  		<% end -%>
  		<div style='clear:both'></div>
  		<%= render "devise/shared/links" %>
	</div>
		<% end %>

    
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <div class='picslide' >
          <%=image_tag '/assets/bendera.jpg' %>
        </div>
      </div>
      <div class="item">
        <div class='picslide' >
          <%=image_tag '/assets/ruby.jpg' %>
        </div>
      </div>
      <div class="item">
        <div class='picslide' >
          <%=image_tag '/assets/java.jpg' %>
        </div>
    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>


