<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
	  <div class='kanan', style='margin:10px;'>
	  	<input type="text" class="form-control" placeholder="Enter Email">
	  	<input type="password" class="form-control" placeholder="Password">
	  	<div style='clear:both'>
	  </div>
	  	
	  <div class='kanan'>
	  	<%= f.submit "Sign in" %>
	  </div>
			 <div class='margintb'>
				<% if devise_mapping.rememberable? -%>
  			<%= f.check_box :remember_me %>
    </div>
    <div>
    	<%= f.label :remember_me %>
 		</div>
    
    <p>
    	<a href="" >Daftar Baru</a> atau Masuk Menggunakan
    </p>
  		<% end -%>
  	<div style='clear:both'></div>
  		<%= render "devise/shared/links" %>

		<% end %>


