<!DOCTYPE html>
<html>
<head>
  <title>Q-Zone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/ask.png"/>
  <script type="text/javascript">
        $(window).on('load', function () {

            $('.selectpicker').selectpicker({
                'selectedText': 'cat'
            });

            // $('.selectpicker').selectpicker('hide');
        });
    </script>
</head>
<body>
	<% if notice %>
		<p><%= notice %></p>
	<% end -%>
	<% if alert %>
		<p><%= alert %></p>
	<% end -%>
	<div class='bottomleft'><img src="/assets/indo.png" ></div>
		<%= render 'layouts/menu' %>
	<div class='container container2'>
	<%= yield %>
	
		<%= audio_tag '/assets/HARUKA.ogg', autoplay: true %>
		
		
	</div>
</body>
</html>

